* {
    padding: 0px; 
    margin: 0px; 
    font-family: poppins, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

#header { 
    padding: 20px;
    width: 100%;
    background: #fff;
    text-align: center; 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header #logo { 
    font-style: italic;
    font-size: 20px; 
}

#header #logo span { 
    color: #e2935b;
}

#header nav { 
    color: #000;
}

#header nav a {
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    text-align: center; 
    color: black; 
}

#header nav a:last-child{ 
    color: white;
    background: #e2935b;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 30px;
}

#header nav a:hover {
    opacity: 0.9;
}

#container {
    overflow: hidden; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    padding-top: 20px; 
    height: 575px; 
}

#bg-container {
    width: 50%;
}

#bg-container img {
    width: 100%;
    height: 90%;
}

#content-container { 
    width: 30%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#content-container h1 {
    color: #d9884a;
    font-weight: 900;
    font-size: 80px;
    line-height: 0.9em;
    margin-bottom: 30px;
    }

    #content-container p{
    line-height: 1.8em;
    font-weight: 500;
    }

    #content-container button{
    border: none;
    outline: none;
    color: #FFF;
    background-color: #d9884a;
    padding: 16px 0px;
    border-radius: 40px;
    font-size: 16px;
    width: 160px;
    margin-top: 30px;
    cursor: pointer;
    }

    #content-container button:hover{
    opacity: 0.9;
    }
